@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  html,
  body,
  #app {
    min-height: 100%;
  }

  body {
    margin: 0;
    overflow-x: clip;
    @apply bg-slate-100 text-slate-900 antialiased;
  }

  #app {
    overflow-x: clip;
    max-width: 100%;
  }
}
